h1 {
  background: url('logo.png') no-repeat;
  border: 0;
  margin: 0;
  padding: 0;
  width: 187px;
  height: 43px;
  text-indent: -99px;
}
ul {
  list-style-type: none;
  padding: 0;
  background-color: #888;
  height: 44px;
}
li {
  float: left;
  background-color: #ff8800;
  border-right: 1px solid white;
}
li:last-child {
  float: right;
  border-left: 1px solid white;
  border-right: none;
}
li a {
  display: block;
  color: white;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
}
